<div class="inside bot-indent">
  <div id="slogan">
    <div class="inside">
      <h2><span>Welcome</span><%= current_user.name %></h2>
      <p>Remaining Points: <%= current_user.points %></p>
    </div>
  </div>
  <h2 class="extra">My Page</h2>
  <div class="box extra">

      <div class="left-indent line-ver1">

              <article class="col-1 indent">
                <h4>Task</h4>
                <ul class="info-list1">
                  <li>Disk Space</li>
                  <li>Bandwidth</li>
                  <li>Monthly Price</li>
                  <li>99.9% uptime</li>
                  <li>24/7 support</li>
                  <li>Daily backups</li>
                  <li>No Contract</li>
                  <li>30 day money back guarantee</li>
                  <li>Free Setup</li>
                  <li>Order</li>
                </ul>
              </article>
              <article class="col-2 indent">
                <h4 class="aligncenter">asdfdas</h4>
                <ul class="info-list1 alt">
                  <li>2,000 MB</li>
                  <li>50,000 mb</li>
                  <li>$35.00</li>
                  <li>yes</li>
                  <li>yes</li>
                  <li>yes</li>
                  <li>yes</li>
                  <li>yes</li>
                  <li>yes</li>
                </ul>
                <div class="aligncenter"><a href="#" class="link3"><span><span>Buy Now!</span></span></a></div>
              </article>
              <article class="col-3 indent">
                <h4 class="aligncenter">Standard</h4>
                <ul class="info-list1 alt">
                  <li>3,000mb</li>
                  <li>65,000mb</li>
                  <li>$45.00</li>
                  <li>yes</li>
                  <li>yes</li>
                  <li>yes</li>
                  <li>yes</li>
                  <li>yes</li>
                  <li>yes</li>
                </ul>
                <div class="aligncenter"><a href="#" class="link3"><span><span>Buy Now!</span></span></a></div>
              </article>
              <article class="col-4 indent">
                <h4 class="aligncenter">Advanced</h4>
                <ul class="info-list1 alt">
                  <li>4,000mb</li>
                  <li>100,00mb</li>
                  <li>$65.00</li>
                  <li>yes</li>
                  <li>yes</li>
                  <li>yes</li>
                  <li>yes</li>
                  <li>yes</li>
                  <li>yes</li>
                </ul>
                <div class="aligncenter"><a href="#" class="link3"><span><span>Buy Now!</span></span></a></div>
              </article>
              <article class="col-5 indent">
                <h4 class="aligncenter">Other</h4>
                <ul class="info-list1 alt">
                  <li>6,000mb</li>
                  <li>150,000</li>
                  <li>$100</li>
                  <li>yes</li>
                  <li>yes</li>
                  <li>yes</li>
                  <li>yes</li>
                  <li>yes</li>
                  <li>yes</li>
                </ul>
                <div class="aligncenter"><a href="#" class="link3"><span><span>Buy Now!</span></span></a></div>
              </article>
              <div class="clear"></div>

      </div>

  </div>